@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

:root {
    --rabbit: #ec5b2b;
    --rabbit-dark: #a53f16;

    
    --primary: var(--rabbit);
    --secondary: white;
}

html {
    font-size: 125%;
}

body {
    font-family: 'Oswald', sans-serif;
    color: white;
    height: 100vh;
    width: 100vw;
}

