@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

:root {
    --rabbit: #ec5b2b;
    --rabbit-dark: #a53f16;

    
    --primary: var(--rabbit);
    --secondary: white;
    --background: black;
    interpolate-size: allow-keywords;
}

html {
    font-size: 130%;
}

body {
    font-family: 'Oswald', sans-serif;
    color: white;
    height: 100vh;
    width: 100vw;
    background-color: var(--background);
    overflow: hidden;
}

@keyframes rabbitPulse {
    100% {
        color: var(--rabbit);
    }
}

.rabbit-pulse {
    animation-name: rabbitPulse;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
}

